<%- include("boilerplate") %>

    <div class="home-page">
        <h1>Home Page</h1>

        <a href="/posts/create">
            <button class="create-btn">Create Post</button>
        </a>
    </div>