<%-include("boilerplate")%>

    <form action="/login" method="post">
        <input type="text" placeholder="email" name="email" required>
        <br>
        <br>
        <input type="password" placeholder="password" name="password" required>
        <br>
        <br>
        <button type="submit">login</button>
    </form>